@model SpendingManagement.Core.Models.Record

@{
    ViewBag.Title = "Szczegóły";
    Layout = "~/Views/Shared/_RecordLayout.cshtml";
}

<div class="panel panel-default">
    <div>
        <h3 class="text-center text-green">Szczegóły</h3>
    </div>
    <div class="p-4 panel-body">
        <table class="table table-bordered table-head-green">
            <tr>
                <th>Data</th>
                <td>@Model.Date.ToShortDateString()</td>
            </tr>
            <tr>
                <th>Nazwa</th>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <th>Opis</th>
                <td>@Model.Description</td>
            </tr>
            <tr>
                <th>Koszt</th>
                <td>@Model.Charge</td>
            </tr>
            <tr>
                <th>Kategoria</th>
                <td>@Model.Category</td>
            </tr>
            <tr>
                <th>Podkategoria</th>
                <td class="bg-light">@Model.Subcategory</td>
            </tr>
        </table>
        <div>
            @Html.ActionLink("Powrót", "RecordsList", null, new { @class = "btn btn-light" })
        </div>
    </div>

</div>

