@using System.Web.Optimization;
@model SpendingManagement.Core.ViewModels.RecordFormViewModel

@{
    ViewBag.Title = Model.Heading;
    Layout = "~/Views/Shared/_RecordLayout.cshtml";
}
<div id="categoryWindow" class="category-dialog">
    <div id="closeCategory"><a>Anuluj X</a></div>
    <h2 id="categoryTitle" class="">Wybierz kategorię</h2>
    <ul id="categoryList" class="category-body"></ul>
</div>
<div class="p-lg-4 p-sm-3">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            @using (Html.BeginForm(Model.Action, "Records"))
            {
                @Html.AntiForgeryToken()
                <h4>@Model.Heading</h4>
                <div>
                    @Html.HiddenFor(m => m.Id)
                </div>
                <div>
                    @Html.HiddenFor(m => m.IsRevenue)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Name)
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Description)
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = "3" })
                    @Html.ValidationMessageFor(m => m.Description)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Date)
                    @Html.TextBoxFor(m => m.Date, new { @class = "form-control", type = "date" })
                    @Html.ValidationMessageFor(m => m.Date)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Charge)
                    @Html.TextBoxFor(m => m.Charge, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Charge)
                </div>

                <div>
                    <input type="button" id="openCategoryWindow" value="Wybierz kategorię i podkategorię" class="form-control" />
                    <div class="category-textarea">
                        <textarea id="Category" name="Category" rows="1" readonly="readonly">@Model.Category</textarea>
                        <textarea id="Subcategory" name="Subcategory" rows="1" readonly="readonly">@Model.Subcategory</textarea>
                    </div>
                </div>

                <input type="submit" value="Zapisz" class="btn btn-default" />
                <a href="@Url.Action("RecordsList")" class="btn btn-default">Anuluj</a>
            }
        </div>
        <div class="col-md-1 col-sm-4"></div>
        @Html.Partial("Calculator")
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/form")
    @Scripts.Render("~/bundles/app")
    <script>
        CategoriesForm.init();
    </script>
}