@model SpendingManagement.Core.ViewModels.StatisticsViewModel
@{
    ViewBag.Title = "Statistics";
    Layout = "~/Views/Shared/_RecordLayout.cshtml";
}

<div class="row m-md-4 panel">
    <div class="col-md-4 p-md-4">@Html.Partial("SelectRange")</div>
    <div class="panel-body p-lg-4 col-md-8">
        <table class="table table-bordered table-head-green">
            <tbody>
                @foreach (var p in Model.CategoriesCharge)
                {
                    <tr>
                        <th><a href="@Url.Action("RecordsList","Records",new {searchString = p[0] }) " id="category-@p[0]" class="table-secondary text-dark">Na elementy związane z kategorią - "@p[0]" wydano:</a></th>
                        <td class="table-dark">@p[1] [zł]</td>
                    </tr>
                }
                <tr>
                    <th>Suma wydatków w wybranym zakresie wyniosła:</th>
                    <td>@Model.SumCharge [zł]</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/highcharts")
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                @Model.PieChart
            </div>
            <div class="col-md-6">
                @Model.LineSumChart
            </div>
            <div class="m-md-4"></div>
        </div>
    </div>
}