@model SpendingManagement.Core.ViewModels.StatisticsViewModel
@{
    ViewBag.Title = "Statistics";
    Layout = "~/Views/Shared/_RecordLayout.cshtml";
}

<div class="row panel">
    <div class="col-md-3 p-md-4">@Html.Partial("SelectRange")</div>
    <div class="panel-body p-lg-2 col-md-7 ">
        <table class="table table-bordered table-head-green text-center">
            <tbody>
                <tr>
                    @foreach (var p in Model.CategoriesCharge)
                    {
                       <th style="min-width:90px">
                            <a href="@Url.Action("RecordsList","Records",new {searchString = p[0] }) " id="category-@p[0]" class="table-secondary text-dark">@p[0]</a>
                        </th>
                    }
                </tr>
                <tr>
                    @foreach (var p in Model.CategoriesCharge)
                    {
                        <td class="table-dark">
                            <button class="btn-graph" js-graph-category="@p[0]">Wykres</button>
                            @p[1] [zł]
                        </td>
                    }
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered text-center">
            <tr>
                <th>Suma wydatków dla wszystkich kategorii:</th>
                <td>@Model.SumCharge [zł]</td>
            </tr>
        </table>
    </div>
</div>

@section scripts{
    <div class="container">
        <div class="row">
            <div id="pieChart" class="col-md-6"></div>
            <div id="lineChart" class="col-md-6"></div>
            <div class="m-md-4"></div>
        </div>
    </div>
    @Scripts.Render("~/bundles/highcharts")
    <script>
        $(document).ready(function () {
            GetDataForChart.init();
        });
    </script>
}