@model SpendingManagement.WebUI.Models.EditViewModel

@{
    ViewBag.Title = "Administracja: edycja";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div id="categoryWindow" class="category-dialog bg-dark border-success">
    <div id="closeCategory" class="text-right hover"><a >Anuluj X</a></div>
    <h2 id="categoryTitle" class="ml-lg-3 mr-lg-3 text-center">Wybierz kategorię</h2>
    <ul id="categoryList" class="category-body bg-dark border-success" style="padding: 0px;"></ul>
</div>
<div class="p-sm-3">
    <div class="ml-md-7 panel-heading">
        <h3>Edycja @Model.Name</h3>
    </div>
    <div class="row" id="lol">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            @using (Html.BeginForm("Edit", "Admin"))
            {
                <div class="panel-body">
                    @Html.HiddenFor(m => m.ExpenseID)
                    @foreach (var property in ViewData.ModelMetadata.Properties)
                    {
                        if (property.PropertyName != "ExpenseID" && property.PropertyName != "CategoryList" && property.PropertyName != "Subcategory")
                        {
                            <div class="form-group">
                                <p>@(property.DisplayName ?? property.PropertyName)</p>
                                @if (property.PropertyName == "Name")
                                {
                                    @Html.TextArea(property.PropertyName, null, new { @class = "form-control", rows = 1 })
                                }
                                @if (property.PropertyName == "Category")
                                {
                                    <input type="button" id="categoryButton" value="Wybierz kategorię i podkategorię" class="form-control text-dark" />
                                    <div class="row justify-content-lg-center">
                                        <textarea id="Category" name="Category" rows="1" readonly="readonly" class="form-control text-center" style="width:40%">@Model.Category</textarea>
                                        <textarea id="Subcategory" name="Subcategory" rows="1" readonly="readonly" class="form-control text-center" style="width:40%">@Model.Subcategory</textarea>
                                    </div>

                                }
                                @if (property.PropertyName == "Charge")
                                {
                                    @Html.TextArea(property.PropertyName, null, new { @class = "form-control", rows = 1 })
                                }
                                @if (property.PropertyName == "Date")
                                {
                                    @Html.TextBox(property.PropertyName, null, new { @class = "form-control", type = "date" })
                                }
                                @if (property.PropertyName == "Description")
                                {
                                    @Html.TextArea(property.PropertyName, null, new { @class = "form-control", rows = 4 })
                                }
                                @Html.ValidationMessage(property.PropertyName)
                            </div>
                        }
                    }
                </div>
                <div class="panel-footer">
                    <input type="submit" value="Zapisz" class="btn btn-light" />
                    @Html.ActionLink("Anuluj i powróć","Index", null, new { @class = "btn btn-light"})
                </div>
            }
        </div>
        <div class="col-md-1 col-sm-4"></div>
        <div>@Html.Partial("Calculator")</div>
    </div>
</div>
    <!--
    <script>
        window.addEventListener('beforeunload', function (event) {
            var message = 'Twoje zmiany nie zostałe zapisane';
            event.returnValue = message;
            return message;
        });
    </script>
    -->
<script type="text/javascript" src="~/Scripts/SelectCategories.js"></script>
