@model SpendingManagement.WebUI.Models.ExpensesListViewModel
 
@{
    ViewBag.Title = "Administracja: Wszystkie dane";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="panel panel-default p-md-1">
    <div class="panel-heading p-4">
        <h3>Wszystkie dane - @Model.PagingInfo.TotalItems rekordów</h3>
        @using (Html.BeginForm("Index", "Admin"))
        {
            <p>
                Wyszukaj po nazwie bądź kategorii: @Html.TextBox("searchString")
                <input type="submit" value="Wyszukaj" />
            </p>
        }
    </div>
    <div class="panel-body">
        <table class="table table-bordered">
            <tr class="table-light text-dark">
                <th>@Html.ActionLink("Data", "Index", new { sortOrder = Model.SortingInfo.DataSort, searchString = Model.SortingInfo.CurrentSearch })</th>
                <th>@Html.ActionLink("Nazwa", "Index", new { sortOrder = Model.SortingInfo.NameSort, searchString = Model.SortingInfo.CurrentSearch })</th>
                <th>@Html.ActionLink("Kwota", "Index", new { sortOrder = Model.SortingInfo.ChargeSort, searchString = Model.SortingInfo.CurrentSearch })</th>
                <th>@Html.ActionLink("Kategoria", "Index", new { sortOrder = Model.SortingInfo.CategorySort, searchString = Model.SortingInfo.CurrentSearch })</th>
                <th>@Html.ActionLink("Podkategoria", "Index", new { sortOrder = Model.SortingInfo.SubcategorySort, searchString = Model.SortingInfo.CurrentSearch })</th>
                <th>Akcje</th>
            </tr>
            @foreach (var item in Model.Expenses)
            {
            <tr>
                <td>@item.Date.ToShortDateString()</td>
                <td>@item.Name</td>
                <td>@item.Charge.ToString("c")</td>
                <td>@item.Category </td>
                <td>@item.Subcategory</td>
                <td>
                    @Html.ActionLink("Edytuj", "Edit", new { id = item.ExpenseID }) |
                    @Html.ActionLink("Szczegóły", "Details", new { id = item.ExpenseID })|
                    @Html.ActionLink("Usuń", "Delete", new { id = item.ExpenseID })
                </td>
            </tr>
            }
        </table>
    </div>

    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x, sortOrder = Model.SortingInfo.CurrentSort, searchString = Model.SortingInfo.CurrentSearch }))
</div>


