@using System.Web.Optimization;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/error")
    <title>Konto</title>
</head>
<body style="background-image:url(../../Images/account_background.jpeg); background-size:cover">
    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-validate")
    @Scripts.Render("~/ bundles / bootstrap")
</body>
</html>
